
.oe_kanban_process_avatars img {
    width: 30px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.oe_form_gantt_avatars:after {
  font-family: "mnmliconsRegular" !important;
  font-size: 21px;
  font-weight: 300 !important;
  content: "y";
  top: 3px;
  position: relative;
}

.openerp .oe_kanban_view .oe_kanban_process {
  width: 250px;
  min-height: 160px !important;
  cursor: default;
}

.openerp .oe_percent strong:after {
  content: "%";
}

.openerp .oe_margin_top_8 {
  margin-top: 8px;
}
.openerp .oe_kanban_process .oe_kanban_process_list .col-lg-6 a{
  margin-left: 5px;
}

/* Kanban status as label in process stage form view */
.openerp label.oe_process_kanban_legend {
  min-width: inherit !important;
  margin-top: 6px;
  margin-right: 8px;
}

.o_form_process_tasks.o_form_editable .oe_title {
  max-width: initial;
}

.o_form_process_tasks.o_form_editable .oe_title .o_task_name {
  /*
   * should be (coming from addons/web/static/src/scss/form_view.scss):
   * max-width: map-get($container-max-widths, md) - (2 * $o-horizontal-padding);
   */
  max-width: 688px;
  margin-right: auto;
}

.kanban-name-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.field-overflow{
    margin-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* пока не пашет просто фонт обновить */
.gray-field {
  color: gray;
  font-size: 12px;
}

.gray-field:after {
  content: "документа"
}